#mainPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#LandingPageBodyContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 30vh;
    
}
#LandingPageBodyRight{
    margin-top: -5vh;

}


#LandingPageBodyLeftImg{
    height: 600px;
    width: auto;
    margin-left: 5v;

}
#aboutMePageContainer{
    background-color: rgb(247, 247, 247);
    height: 120vh;
    width: 99vW;
}
#projectsPageContainer{
    background-color: rgb(235, 235, 235);
    height: 120vh;
    width: 99vW;
}
#contactPageContainer{
    background-color: rgb(247, 247, 247);
    height: 120vh;
    width: 99vW;
}


@media only screen and (max-width: 600px) {
    #LandingPageBodyContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        
        margin-bottom: 30vh;
        height: 125vh;

    }
    #LandingPageBodyRight{
        margin-top: -5vh;
    
    }
    
    #LandingPageBodyLeftImg{
        height: 600px;
        width: auto;
    }

    #aboutMePageContainer{
        background-color: rgb(247, 247, 247);
        height: 190vh;
        width: 170vw;
        margin-left: 70vw;
        
    }
    #projectsPageContainer{
        background-color: rgb(235, 235, 235);
        height: 190vh;
        width: 170vw;
        margin-left: 70vw;
    }
    #contactPageContainer{
        background-color: rgb(247, 247, 247);
        height: 190vh;
        width: 170vw;
        margin-left: 70vw;
    }
    


}