@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&family=Raleway:wght@500&display=swap');

#AboutMePageContainer{
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
}

#AboutMePageIntroH1{
    margin-top: 6vh;
    font-family: Mulish;
    font-size: 35px;
}

#AboutMePageIntroSpacer{
   height: 15px;
   width: 80px;
   background-color:  #FF5733;
   margin: auto;
   border-radius: 20px;
}

#AboutMePageIntroDesc{
    
    font-family: Mulish;
    font-size: 25px;
    font-weight: 300;
    margin-top: 50px;
}

#AboutMePageDown{
    display: flex;
    flex-direction: row;
    margin-top: 40px;

}

#AboutMePageDownLeft{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50vw;
}

#AboutMePageDownLeftLabel{
    font-family: Mulish;
    font-size: 35px;

}

#AboutMePageDownLeftText{
    font-family: Mulish;
    font-size: 20px;
    width: 30vw;
    margin: auto;
    margin-top: 10px;
    text-align: start;
    color: #1f1f1f;

}

#AboutMePageDownRight{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50vw;
}

#AboutMePageRightLabel{
    font-family: Mulish;
    font-size: 35px;

}

#skillTreeContainer1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
}
#skillTreeContainer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
}
#skillTreeContainer3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
}
.skillTreeLabel{
    font-family: Mulish;
    font-size: 20px;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    color: #1f1f1f;
}

#AboutMePageDownLeftButton{
    font-family: Raleway;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    cursor: pointer;
    border: 1px solid #000000;
    color: #ffffff;
    background-color:  #FF5733;
    border: 0px;
    border-radius: 5px;
    width: 20vw;

    margin: auto;
    margin-top: 5vh;
    white-space: nowrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    
}

#AboutMePageDownLeftButton:hover {
    background-color: #dd4726;
    color: #fff;
    transition: 0.3s ease;
  }

@media only screen and (max-width: 1370px) {
    #AboutMePageDown{

        margin-top: -50px
    
    }

}


@media only screen and (max-width: 600px) {
    #AboutMePageRight{
        margin-top: -5vh;
    }
    #AboutMePageContainer{

        margin-top: 15vh;
    }
    #AboutMePageDown{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin: auto;
    
    }
    
#AboutMePageDownLeftText{
    font-family: Mulish;
    font-size: 20px;
    width: 100vw;
    word-wrap: break-word;
    margin: auto;
    margin-top: 10px;
    text-align: start;

}

#AboutMePageIntroDesc{
    
    margin: auto;
    margin-top: 20px;
    width: 160vw;
    margin-bottom: 10vh;

}
#AboutMePageDownLeftLabel{
    margin: auto;
    width: 10vw;
    white-space: nowrap;
    margin-left: 140px;

}

#AboutMePageDownLeftButton{
    width: 50vw;
margin-bottom: 10vh;
}




}

