@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&family=Raleway:wght@500&display=swap');

#AboutMePageContainer{
    display: flex;
    flex-direction: column;
}

#AboutMePageIntroH1{
    margin-top: 13vh;
    font-family: Mulish;
    font-size: 35px;
}

#AboutMePageIntroSpacer{
   height: 15px;
   width: 80px;
   background-color:  #FF5733;
   margin: auto;
   border-radius: 20px;
}

#AboutMePageIntroDesc{
    
    font-family: Mulish;
    font-size: 25px;
    font-weight: 300;
    margin-top: 50px;
}

#AboutMePageDown{
    display: flex;
    flex-direction: row;
    margin-top: 80px;

}

#AboutMePageDownLeft{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50vw;
}

#AboutMePageDownLeftLabel{
    font-family: Mulish;
    font-size: 35px;

}

#AboutMePageDownLeftText{
    font-family: Mulish;
    font-size: 20px;
    width: 30vw;
    margin: auto;
    margin-top: 10px;
    text-align: start;

}

#AboutMePageDownRight{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50vw;
}

#AboutMePageRightLabel{
    font-family: Mulish;
    font-size: 35px;

}

#skillTreeContainer1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
}
#skillTreeContainer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
}
#skillTreeContainer3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
}
.skillTreeLabel{
    font-family: Mulish;
    font-size: 20px;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
}

#AboutMePageDownLeftButton{
    font-family: Raleway;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    cursor: pointer;
    border: 1px solid #000000;
    color: #ffffff;
    background-color:  #FF5733;
    border-radius: 5px;
    width: 20vw;

    margin: auto;
    margin-top: 5vh;
}
